#image1 {
    background-image: none;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='crop', src='img/image1.png');
}
#image2 {
    background-image: none;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='crop', src='img/image2.png');
}
#image3 {
    background-image: none;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='crop', src='img/image3.png');
}
div.ESWuserButton0 {
    background-image: none;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='crop', src='img/butt_off_1.png');
}
div.ESWuserButton0:hover {
    background-image: none;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='crop', src='img/butt_off_1.png');
}
div.ESWuserButton1 {
    background-image: none;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='crop', src='img/butt_off_2.png');
}
div.ESWuserButton1:hover {
    background-image: none;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='crop', src='img/butt_on_2.png');
}
#substrate_top{
    background: none;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='crop', src='img/substrate_top.png');
}
#substrate_bottom{
    background: none;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='crop', src='img/substrate_bottom.png');
}

img.draggable { fakeprop: expression( _IE6PNGImgFix(this) ); }  div.ESWuserButton0, div.ESWuserButton1 { fakeprop: expression( _IE6PNGDivFix(this) ); } 